#wrapper

  = render 'devise/shared/devise-header'

  .contents
    .contents__message
      新規会員登録
    .contents__container
      .registration
      =link_to user_info_input_signup_index_path, class: "registration__btn registration__btn--email" do
        = fa_icon 'envelope', class: "registration__btn--icon"
        %span<>
          メールアドレスで登録する
      =link_to user_facebook_omniauth_authorize_path, class: "registration__btn registration__btn--facebook" do
        = fa_icon 'facebook-square', class: "registration__btn--icon"
        %span<>
          Facebookで登録する
      =link_to user_google_oauth2_omniauth_authorize_path, class: "registration__btn registration__btn--google" do
        = fa_icon 'google', class: "registration__btn--icon"
        %span<>
          Googleで登録する

  = render 'devise/shared/devise-footer'