= render 'toppage/header'

.bread-crumbs
  .bread-crumbs__ii
    - breadcrumb :mypage
    = breadcrumbs  separator: " &rsaquo; "


.mypage-main
  = render 'users/mypage-side-menu'

  .mypage-main__right-contents
    %section.mypage-user-icon
      = link_to "https://www.mercari.com/jp/u/676750793/" do
        %figure
          = image_tag '//static.mercdn.net/thumb/members/700786172.jpg?1495318893'

        %h2.bold
          ダンボー
        .mypage-number
          %div.kk
            評価
            %span.bold
              14
          %div.kk
            出品数
            %span.bold
              0
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li
          %h3
            お知らせ
        %li.active
          %h3
            やることリスト
      .tab-content
        %ul.mypage-item-list
          = image_tag "https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?2870273"
          .mypage-item-not-found
            現在、やることリストはありません

      %section.mypage-tab-container
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              お知らせ
          %li
            %h3
              やることリスト
      .tab-content
        %ul.mypage-item-list
          = image_tag "https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?2870273"
          .mypage-item-not-found
            取引中の商品がありません

= render 'toppage/toppage-footer'

= render 'toppage/exhibition-button'