.mercari
  %header.header
    .header-box
      .header-box__top
        .header-box__top__image
          = link_to root_path, class: 'rin' do
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class: 'mercari-image'
        .header-box__top__search
          %form.header-form{action: "https://www.mercari.com/jp/search/"}
            %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", style: 'border-right: none'}
            %button.search-button
              %i.icon-search
                %svg.sc-jDwBTQ.sc-kgAjT.gKFuLS{ height: "14", viewbox: "0 0 16 16", width: "14"}
                  %path{d: "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", fill: "currentColor"}


      .header-box__bottom
        .header-box__bottom__left
          .header-box__bottom__left__category-seach
            = link_to root_path, class: 'category-list' do
              %svg.sc-cvbbAY.sc-fAjcbJ.dKBFhm{height: "16", viewbox: "0 0 20 16", width: "20"}
                %path{d: "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", fill: "currentColor"}
              カテゴリーから探す
          .header-box__bottom__left__brand-search
            = link_to root_path, class: 'category-list' do
              %svg.sc-csuQGl.sc-caSCKo.kspmux{ height: "16", viewbox: "0 0 23 16", width: "23"}
                %path{d: "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", fill: "currentColor"}
              ブランドから探す

        .header-box__bottom__right
          .header-box__bottom__right__good
            = link_to root_path, class: 'good-link' do
              %svg.good-list{ height: "15", viewbox: "0 0 16 15", width: "16"}
                %path{d: "M8.08 12.711l-.08.082-.08-.082C4.112 9.188 1.6 6.858 1.6 4.496c0-1.635 1.2-2.861 2.8-2.861 1.232 0 2.432.81 2.856 1.929h1.496c.416-1.12 1.616-1.93 2.848-1.93 1.6 0 2.8 1.227 2.8 2.862 0 2.362-2.512 4.692-6.32 8.215M11.6 0C10.208 0 8.872.662 8 1.708 7.128.662 5.792 0 4.4 0 1.936 0 0 1.978 0 4.496c0 3.09 2.72 5.608 6.84 9.433L8 15l1.16-1.079C13.28 10.104 16 7.586 16 4.496 16 1.978 14.064 0 11.6 0", fill: "currentColor"}
              いいね！一覧
          .header-box__bottom__right__news
            = link_to root_path, class: 'news-link' do
              %svg.news-list{ height: "16", viewbox: "0 0 14 16", width: "14"}
                %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor"}
              お知らせ
          .header-box__bottom__right__todo
            = link_to root_path, class: 'todo-link' do
              %svg.todo-list{height: "16", viewbox: "0 0 21 16", width: "21"}
                %path{d: "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", fill: "currentColor"}
              やることリスト
          .header-box__bottom__right__mypage
            = link_to root_path, class: 'mypage-link' do
              マイページ


  .body
    .slide
      .slide__box
        = image_tag "yuhei.jpg", alt: '', class: 'slide__box__image1'
        = image_tag "yuhei.jpg", alt: '', class: 'slide__box__image3'
      %button.prevbtn
        = image_tag "prev.png", alt: 'prev'
      %button.nextbtn
        = image_tag "next.png", alt: 'next'


    .popular-category
      %h2.popular-category__top
        人気のカテゴリー
      .popular-category__bottom
        %ul.popular-category__bottom__box
          %li.popular-category__bottom__box__ladys
            レディース
          %li.popular-category__bottom__box__mens
            メンズ
          %li.popular-category__bottom__box__electronics
            家電・スマホ・カメラ
          %li.popular-category__bottom__box__toy
            おもちゃ・ホビー・グッズ

    .product
      .ladys-new-items
        .ladys-new-items__top
          %h3.ladys-new-items__top__title
            レディース新着アイテム
          = link_to root_path, class: 'ladys-new-items__top__more' do
            もっと見る ＞
        .ladys-new-items__bottom
          .ladys-new-items__bottom__grid
            - for num in 1..10 do
              .index-item
                = link_to root_path, class: 'index-item__link' do
                  .index-item__link__small-box
                    .index-item__link__small-box__top
                      = image_tag "yuhei.jpg", alt: 'next', class:'jojo'
                      .item-valu-box
                        ￥2000
                    .item-small-box__bottom
                      .item-name111
                        お肉



      .mens-new-items

      .home-electronics

      .toy

    .popular_brand


  .arginine
    .arginine__vitamin
      .arginine__vitamin__v
        .arginine-left
          .arginine-left__top
            スマホでかんたんフリマアプリ
          .arginine-left__middle
            今すぐ無料ダウンロード！
          .arginine-left__bottom
            = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', class: 'rib'
            = link_to 'https://apps.apple.com/jp/app/%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA-%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA-%E3%82%B9%E3%83%9E%E3%83%9B%E6%B1%BA%E6%B8%88%E3%83%A1%E3%83%AB%E3%83%9A%E3%82%A4/id667861049', class: 'zabieru' do
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: '', class: 'zabieru__World'
            = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: 'santamonica' do
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: '', class: 'santamonica__family'
        .arginine-right
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: 'arginine-right__image66'

  .footer
    .footer__top
      .mercari-about
        %h2.mercari-about__title
          メルカリについて
        %ul.mercari-about__list
          %li
            = link_to root_path, class: 'ii' do
              会社概要（運営会社）
          %li
            = link_to root_path, class: 'ii' do
              採用情報
          %li
            = link_to root_path, class: 'ii' do
              プレスリリース
          %li
            = link_to root_path, class: 'ii' do
              公式ブログ
          %li
            = link_to root_path, class: 'ii' do
              メルカリロゴ利用ガイドライン
          = link_to root_path, class: 'mercari-twitter' do
            %i
          = link_to root_path, class: 'mercari-facebook' do
            %i
      .mercari-help
        %h2.mercari-help__title
          ヘルプ＆ガイド
        %ul.mercari-help__list
          %li
            = link_to root_path, class: 'ii' do
              メルカリガイド
          %li
            = link_to root_path, class: 'ii' do
              らくらくメルカリ便
          %li
            = link_to root_path, class: 'ii' do
              ゆうゆうメルカリ便
          %li
            = link_to root_path, class: 'ii' do
              大型メルカリ便
          %li
            = link_to root_path, class: 'ii' do
              車体取引ガイド
          %li
            = link_to root_path, class: 'ii' do
              メルカリあんしん・あんぜん宣言！
          %li
            = link_to root_path, class: 'ii' do
              偽ブランド品撲滅への取り組み
          %li
            = link_to root_path, class: 'ii' do
              メルカリボックス
      .mercari-privacy
        %h2.mercari-privacy__title
          プライバシーと利用規約
        .mercari-privacy__box
          %ul.mercari-privacy__box__list
            %li
              = link_to root_path, class: 'ii' do
                プライバシーポリシー
            %li
              = link_to root_path, class: 'ii' do
                メルカリ利用規約
            %li
              = link_to root_path, class: 'ii' do
                あんしんスマホサポート制度に関する利用特約
            %li
              = link_to root_path, class: 'ii' do
                コンプライアンスポリシー
          %ul.mercari-privacy__box__list2
            %li
              = link_to root_path, class: 'ii' do
                個人データの安全管理に係る基本方針
            %li
              = link_to root_path, class: 'ii' do
                特定商取引に関する表記
            %li
              = link_to root_path, class: 'ii' do
                資金決済法に基づく表示
            %li
              = link_to root_path, class: 'ii' do
                法令順守と犯罪抑止のために
      .mercari-country
        %h2.mercari-country__title
          国
        %ul.mercari-country__list
          %li
            = link_to root_path, class: 'ii' do
              日本
          %li
            = link_to root_path, class: 'ii' do
              United States
    .footer__bottom
      = link_to root_path, class: 'footer__bottom__img' do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3296506464", class: 'jiiil'
      .footer__bottom__center
        © 2019 Mercari

    .toppage-shouhin-botton
      = link_to root_path, class: 'toppage-shouhin-botton__link' do
        .toppage-shouhin-botton__secound
          .toppage-shouhin-botton__secound__Usyi
            出品
          %svg.toppage-shouhin-botton__secound__Ydhi{ height: "16", viewbox: "0 0 18 16", width: "18"}
            %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor"}

