.buy-body
  .buy-header
    %h1
      = link_to root_path, class: 'header-link' do
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2687693852'
  .buy-main
    %section.buy-main__all
      %h2.buy-item-title
        購入内容の確認
      %section.buy-content.buy-item
        .buy-content-inner
          .buy-content-inner__on
            %h3.buy-item-image
              = image_tag @items.images[0].image.url
            %p.buy-item-name.bold
              = @items.name
          = form_with  url: '/card/buy/:id', method: :get, class: 'buy-form' do |f|
            %P.buy-price-ja.bold
              ¥
              = @items.price.to_s(:delimited)
              %span.item-shipping-fee.f14.bold
                = @items.burden.parent.name.sub(/（出品者負担）/,"").sub(/（購入者負担）/,"")
              %ul.buy-accordion.not-have
                %li.accordion-parent
                  .accordion-toggle
                    ポイントはありません
              %ul.buy-price-table
                %li.buy-price-row.buy-you-pay.bold
                  .buy-price-cell
                    支払い金額
                  .buy-price-cell
                    %span{data:{buy:{pay: "14200"}}}
                      ¥
                      = @items.price.to_s(:delimited)
              = link_to "購入する", "/card/buy/#{@items.id}", class:'btn-default btn-red bold', method: :post

      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒
            = @user.address.zip_code
            %br/
            = @user.address.jusho_shikuchoson
            = @user.address.jusho_banchi
            = @user.address.jusho_tatemono
            %br/
            = @user.nickname
          %p.buy-user-info-text
          = link_to root_path, class: 'buy-user-info-fix' do
            %span 変更する
            %i.icon-arrow-right

      %section.buy-content.buy-user-info{"data-buy" => "pay-method"}
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            %br/
            \2222333232323/
            %figure

          = link_to "https://www.mercari.com/jp/transaction/card/m52817775865/?_s=U2FsdGVkX19qf-PmE2bU0OHPpU5wPM7kVTl_0V1IXeJBV3Y0eF6vlebhfhmdjnc9V2RHWfk4yr5p2r2GEZXcb0B-_lUoryvfWE6xiMhZVxRxTn3tRSVjP1yIajNYwpbf", class: 'buy-user-info-fix' do
            %span 変更する
            %i.icon-arrow-right

      = render 'devise/shared/devise-footer'