.mercari
  = render 'toppage/header'

  .body
    .slide
      .slide__box
        = image_tag "top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg", alt: '', class: 'slide__box__image1'
      %button.prevbtn
        = image_tag "prev.png", alt: 'prev'
      %button.nextbtn
        = image_tag "next.png", alt: 'next'


    .popular-category
      %h2.popular-category__top
        人気のカテゴリー
      .popular-category__bottom
        %ul.popular-category__bottom__box
          %li.popular-category__bottom__box__ladys
            = link_to "レディース", "items/category/2"
            -# レディース
          %li.popular-category__bottom__box__mens
            = link_to "メンズ", "items/category/3"
            -# メンズ
          %li.popular-category__bottom__box__electronics
            = link_to "家電・スマホ・カメラ", "items/category/9"
            -# 家電・スマホ・カメラ
          %li.popular-category__bottom__box__toy
            = link_to "おもちゃ・ホビー・グッズ", "items/category/7"
            -# おもちゃ・ホビー・グッズ

    .product
      = render 'items/radys'

      = render 'items/mens'

      = render 'items/electronics'

      = render 'items/hoby'


  = render 'toppage/toppage-footer'

= render 'toppage/exhibition-button'

