.sign-in_header
  .sign-in_header__logo
    = link_to '' do 
      = image_tag 'logo.svg', class: 'registration-header-logo'

.contents-item
  = form_with model: @item, local: true do |f|
    .contents-item__message
      商品の情報を入力
    .contents-item__container

      .contents-item__container__uploadbox
        .contentsitem__container__uploadbox__text.label
          出品画像
          %span.hissu 必須
        .contents-item__container__uploadbox__info.info
          最大5枚までアップロードできます
        .contents-item__container__uploadbox__zone-item
          .contents-item__container__uploadbox__zone-item__have-item.clearfix
            %ul{id: "item-append-target"}
            = f.fields_for :images do |f_image|
              -# = f_image.label :image, for: nil, class: "contents-item__container__uploadbox__zone-item__dropbox clearfix", id: "item-drop-zone" do
              = f_image.label :image, for: nil , class: "contents-item__container__uploadbox__zone-item__dropbox clearfix" do
                %br
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
                = f_image.file_field :image, multiple: true, type: 'file', name: "item[images_attributes][][image]", class: "contents-item__container__uploadbox__zone-item__dropbox--fileform", id: "item-drop-zone"

    .contents-item__container__sell-contents
      .contents-item__container__sell-contents__form-group
        = f.label :name, class: "label--small", value: "商品名"
        %span.hissu 必須
        .contents-item__container__sell-contents__form-group__inputname
          = f.text_field :name, class: "contents-item__container__sell-contents__form-group__inputname--input", placeholder: "商品名（必須40文字まで）"
      .contents-item__container__sell-contents__form-group{style: "margin-top: 40px;"}
        = f.label :description, class: "label--small", value: "商品の説明"
        %span.hissu 必須
        .contents-item__container__sell-contents__form-group__inputname
          = f.text_area :description, class: "contents-item__container__sell-contents__form-group__inputname--input-description", rows: "5", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
    
    .contents-item__container__sell-contents.clearfix
      %h3.contents-item__container__sell-contents--greyout 商品の詳細
      .contents-item__container__sell-contents__form-box{id: "category-select-box"}
        %div#select-category-box
          = f.label :category, class: "label--small", value: "カテゴリー"
          %span.hissu 必須
          %div
            .contents-item__container__sell-contents__form-box__select-wrap
              %i.contents-item__container__sell-contents__form-box__select-wrap--icon
              = f.select :category, @category.children.map{|category| [category.name, category.id]}, {include_blank: "---"}, {id: "select-cat1", class: "contents-item__container__sell-contents__form-box__select-wrap--select"}

      .contents-item__container__sell-contents__form-box{style: "margin-top: 40px"}
        %div
          = f.label :product_state, {class: "label--small", value: "商品の状態"}
          %span.hissu 必須
          %div
            .contents-item__container__sell-contents__form-box__select-wrap
              %i.contents-item__container__sell-contents__form-box__select-wrap--icon
              = f.select :product_state, @item.product_state_list.map { |state| [state, @item.product_state_list.index(state)] }, {include_blank: "---"}, {class: "contents-item__container__sell-contents__form-box__select-wrap--select"}

    .contents-item__container__sell-contents.clearfix
      %h3.contents-item__container__sell-contents--greyout 配送について
      %a.contents-item__container__sell-contents--help{href: "#", } ?
      .contents-item__container__sell-contents__form-box
        %div
          = f.label :burden_id, {class: "label--small", value: "配送料の負担"}
          %span.hissu 必須
          %div
            .contents-item__container__sell-contents__form-box__select-wrap
              %i.contents-item__container__sell-contents__form-box__select-wrap--icon
              = f.select :burden_id, @burden.map { |burden| [burden.name, burden.id] }, {include_blank: "---"}, {class: "contents-item__container__sell-contents__form-box__select-wrap--select"}

      .contents-item__container__sell-contents__form-box{style: "margin-top: 40px"}
        %div
          = f.label :prefecture_id, {class: "label--small", value: "発送元の地域"}
          %span.hissu 必須
          %div
            .contents-item__container__sell-contents__form-box__select-wrap
              %i.contents-item__container__sell-contents__form-box__select-wrap--icon
              = f.select :prefecture_id, @prefectures.map { |pref| [pref.name, pref.id] }, {include_blank: "---"}, {class: "contents-item__container__sell-contents__form-box__select-wrap--select"}

      .contents-item__container__sell-contents__form-box{style: "margin-top: 40px"}
        %div
          = f.label :shipping_days, {class: "label--small", value: "発送までの日数"}
          %span.hissu 必須
          %div
            .contents-item__container__sell-contents__form-box__select-wrap
              %i.contents-item__container__sell-contents__form-box__select-wrap--icon
              = f.select :shipping_days, @item.shipping_days_list.map { |days| [days, @item.shipping_days_list.index(days)] }, {include_blank: "---"}, {class: "contents-item__container__sell-contents__form-box__select-wrap--select"}

    .contents-item__container__sell-contents.clearfix
      %h3.contents-item__container__sell-contents--greyout 販売価格(300〜9,999,999)
      %a.contents-item__container__sell-contents--help{href: "#", } ?
      .contents-item__container__sell-contents__form-box
        %div.clearfix{style: "position: relative;"}
          = f.label :price, {class: "label--small", value: "価格", style: "position: absolute; top: 10px;"}
          %span.hissu.price 必須
          .contents-item__container__sell-contents__form-box__pricebox
            %div{style: "float: left; width: 10px; margin-top: 15px;"} ¥
            %div  
              = f.text_field :price, {class: "contents-item__container__sell-contents__form-box__pricebox--input", placeholder: "例）300"}
        .contents-item__container__sell-contents__form-box__form-fee.clearfix
          .contents-item__container__sell-contents__form-box__form-fee__fee-left.info
            販売手数料 (10%)
          .contents-item__container__sell-contents__form-box__form-fee__fee-right.info
            \-
        .contents-item__container__sell-contents__form-box__form-fee.clearfix
          .contents-item__container__sell-contents__form-box__form-fee__fee-left.label
            販売利益
          .contents-item__container__sell-contents__form-box__form-fee__fee-right.lable
            \-

    .contents-item__container__sell-btn
      %div
        %p.kiyaku
          %a.kiyaku--blue{href: '#'}> 禁止されている出品、行為 
          を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a.kiyaku--blue{href: '#'}> 偽ブランドの販売
          は犯罪であ
          %br
          り処罰される可能性があります。
          %br
          また、出品をもちまして
          %a.kiyaku--blue{href: '#'}> 加盟店規約
          に同意したことになります。
      
      = f.submit '出品する', class: "contents-item__container__sell-btn--btn-red"
      %a.contents-item__container__sell-btn--btn-red.grey{href: '#'}もどる

