
= render 'toppage/header'

.item-deteal
  .item-deteal__box
    %h1.item-deteal__box__title
      = @item.name
    .item-deteal__box__item
      .item-deteal__box__item__left
        .left__top
          = image_tag @item.images[0].image.url, alt: '', class: 'slide__box__image3'

        .left__down

          .left__down__iir
            .left__down__iir__gffk
              = image_tag @item.images[0].image, alt: '', class: 'left__down__iir__gffk__image'
            .left__down__iir__gffk
              = image_tag @item.images[0].image.url, alt: '', class: 'left__down__iir__gffk__image'
            .left__down__iir__gffk
              = image_tag @item.images[0].image.url, alt: '', class: 'left__down__iir__gffk__image'
            .left__down__iir__gffk
              = image_tag @item.images[0].image.url, alt: '', class: 'left__down__iir__gffk__image'
            .left__down__iir__gffk
              = image_tag @item.images[0].image.url, alt: '', class: 'left__down__iir__gffk__image'



      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "https://www.mercari.com/jp/u/676750793/" do
                = @item.user_id
              .yyy
                .item-user-ratings
                  %i.icon-good
                  %span 40
                .item-user-ratings
                  %i.icon-normal
                  %span 0
                .item-user-ratings
                  %i.icon-bad
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "https://www.mercari.com/jp/category/2/" do
                %div
                  = @item.category.parent.parent.name #親
              = link_to "https://www.mercari.com/jp/category/30/" do
                .item-detail-table-sub-category
                  %i.icon-arrow-right
                  = @item.category.parent.name        #子
              = link_to "https://www.mercari.com/jp/category/304/" do
                .item-detail-table-sub-sub-category
                  %i.icon-arrow-right
                  = @item.category.name               #孫
          %tr
            %th ブランド
            %td
              %a{href: "https://www.mercari.com/jp/brand/5150/"}
                %div
                  シャネル
          %tr
            %th 商品のサイズ
            %td
              = @item.size.name
          %tr
            %th 商品の状態
            %td
              = @item.display_product_state
          %tr
            %th 配送料の負担
            %td
              = @item.burden.parent.name
          %tr
            %th 配送の方法
            %td
              = @item.burden.name
          %tr
            %th 配送元地域
            %td
              %a{href: "https://www.mercari.com/jp/area/26/"}
                = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @item.display_shipping_days


    .item-deteal__box__price
      %span.oooo
        ¥
        = @item.price.to_s(:delimited)
      %span.rrrr
        （税込）
      %span.wwww
        = @item.burden.parent.name.sub(/（出品者負担）/,"").sub(/（購入者負担）/,"")
    = link_to "https://www.mercari.com/jp/category/304/", class:'kkooko'do
      購入画面に進む
    .item-deteal__box__description
      %p.item-deteal__box__description__idjs
        = @item.description

    .item-button-container.clearfix
      .item-button-left
        %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m38799137224", "data-toggle" => "like", :name => "like!", :type => "button"}
          %i.icon-like-border
          %span いいね!
          %span.fade-in-down{"data-num" => "like"} 4

        .item-button-report
          %span 不適切な商品の報告
        %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m38799137224/?_s=U2FsdGVkX18e5ceg1R5dtdpcyL4dl3fTQ3VyiDPP1VTsNGZOOKOjezT7pI0SlQq35ya2DM-tS4gaYEP37AF7PBYxE-0DRzNdNTzFiHigtOcDxd2zhem7cNLrftEaYEw6"}/
        %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m38799137224/?_s=U2FsdGVkX18e5ceg1R5dtdpcyL4dl3fTQ3VyiDPP1VTsNGZOOKOjezT7pI0SlQq35ya2DM-tS4gaYEP37AF7PBYxE-0DRzNdNTzFiHigtOcDxd2zhem7cNLrftEaYEw6"}/
        %input{:name => "__csrf_value", :type => "hidden", :value => "b66f76f0af6533a7ef8ffd1e819cd400923f651ad5edd7640b653da1b612bbbe5f9e0cf00d1fc4ec682f3ad5a5480b2f7b7e98409d8a3023f092f7096722b7c00"}/
      .item-button-right
        = link_to 'https://www.mercari.com/jp/safe/description/', target: '_blank' do
          %i.icon-lock
          %span あんしん・あんぜんへの取り組み

= render 'toppage/toppage-footer'

= render 'toppage/exhibition-button'

